ClientWPF/WpfApp1/Connected Services/ServiceAirlines/AirlinesTicketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AirlinesTicketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAirlinesTicketService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22344/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22344/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22344/?xsd=xsd2" namespace="ServiceModels" />
      <xsd:import schemaLocation="http://localhost:22344/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:22344/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server" />
      <xsd:import schemaLocation="http://localhost:22344/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAirlinesTicketService_Autorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Autorization" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_Autorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_UpdateUserInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInformation" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_UpdateUserInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlights" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_AddNewFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewFlight" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_AddNewFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_DeleteFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlight" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_DeleteFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_UpdateFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlight" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_UpdateFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetAllCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetPlaces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaces" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetPlaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetUserReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReservation" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_GetUserReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_CancelReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservation" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_CancelReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_ReservePlace_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservePlace" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_ReservePlace_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservePlaceResponse" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_BuyTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicket" />
  </wsdl:message>
  <wsdl:message name="IAirlinesTicketService_BuyTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IAirlinesTicketService">
    <wsdl:operation name="Autorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/Autorization" message="tns:IAirlinesTicketService_Autorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/AutorizationResponse" message="tns:IAirlinesTicketService_Autorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/Disconnect" message="tns:IAirlinesTicketService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/DisconnectResponse" message="tns:IAirlinesTicketService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/Registration" message="tns:IAirlinesTicketService_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/RegistrationResponse" message="tns:IAirlinesTicketService_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/UpdateUserInformation" message="tns:IAirlinesTicketService_UpdateUserInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/UpdateUserInformationResponse" message="tns:IAirlinesTicketService_UpdateUserInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllFlights" message="tns:IAirlinesTicketService_GetAllFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllFlightsResponse" message="tns:IAirlinesTicketService_GetAllFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllOrders" message="tns:IAirlinesTicketService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllOrdersResponse" message="tns:IAirlinesTicketService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllUsers" message="tns:IAirlinesTicketService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllUsersResponse" message="tns:IAirlinesTicketService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/AddNewFlight" message="tns:IAirlinesTicketService_AddNewFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/AddNewFlightResponse" message="tns:IAirlinesTicketService_AddNewFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/DeleteFlight" message="tns:IAirlinesTicketService_DeleteFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/DeleteFlightResponse" message="tns:IAirlinesTicketService_DeleteFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/UpdateFlight" message="tns:IAirlinesTicketService_UpdateFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/UpdateFlightResponse" message="tns:IAirlinesTicketService_UpdateFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/DeleteUser" message="tns:IAirlinesTicketService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/DeleteUserResponse" message="tns:IAirlinesTicketService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllCities" message="tns:IAirlinesTicketService_GetAllCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetAllCitiesResponse" message="tns:IAirlinesTicketService_GetAllCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetFlights" message="tns:IAirlinesTicketService_GetFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetFlightsResponse" message="tns:IAirlinesTicketService_GetFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetPlaces" message="tns:IAirlinesTicketService_GetPlaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetPlacesResponse" message="tns:IAirlinesTicketService_GetPlaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetUserReservation" message="tns:IAirlinesTicketService_GetUserReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/GetUserReservationResponse" message="tns:IAirlinesTicketService_GetUserReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/CancelReservation" message="tns:IAirlinesTicketService_CancelReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/CancelReservationResponse" message="tns:IAirlinesTicketService_CancelReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservePlace">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/ReservePlace" message="tns:IAirlinesTicketService_ReservePlace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/ReservePlaceResponse" message="tns:IAirlinesTicketService_ReservePlace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirlinesTicketService/BuyTicket" message="tns:IAirlinesTicketService_BuyTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirlinesTicketService/BuyTicketResponse" message="tns:IAirlinesTicketService_BuyTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAirlinesTicketService" type="tns:IAirlinesTicketService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAirlinesTicketService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Autorization">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/Autorization" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInformation">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/UpdateUserInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFlights">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetAllFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewFlight">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/AddNewFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlight">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/DeleteFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlight">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/UpdateFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaces">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetPlaces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserReservation">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/GetUserReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/CancelReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservePlace">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/ReservePlace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTicket">
      <soap12:operation soapAction="http://tempuri.org/IAirlinesTicketService/BuyTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirlinesTicketService">
    <wsdl:port name="NetTcpBinding_IAirlinesTicketService" binding="tns:NetTcpBinding_IAirlinesTicketService">
      <soap12:address location="net.tcp://localhost:22345/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:22345/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-SCCS40E\s2a0s</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>