ClientWPF/ClientWPF/Connected Services/ServiceAirlines/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22344/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="DateFlight" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="EndCity" nillable="true" type="q1:City" />
      <xs:element minOccurs="0" name="FlightNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumOfPlaces" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Models" minOccurs="0" name="StartCity" nillable="true" type="q2:City" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element minOccurs="0" name="Flight" nillable="true" type="tns:Flight" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Place" nillable="true" type="tns:Place" />
  <xs:complexType name="ArrayOfPlace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Place" nillable="true" type="tns:Place" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlace" nillable="true" type="tns:ArrayOfPlace" />
</xs:schema>